---
title: JavaScript Equals Operator - Quiz
base_url: ../
---

<div class="content content-quiz">
    <div class="inner-container">

        <h2>
            Take the quiz and test your knowledge!
        </h2>

        <div class="render-quiz">

        </div>


    </div>
</div>

<div class="content">
    <div class="inner-container">
        <div class="share">
            <a href="https://www.facebook.com/dialog/share?app_id=299446530260111&display=popup&href={{ site.url }}quiz/&redirect_uri={{ site.url }}quiz/" class="share-popup facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
            <a href="https://twitter.com/intent/tweet?url={{ site.url }}quiz/&text={{encodeURI "Take the quiz and test your knowledge!" }}&via={{ site.twitterSite }}&hashtags=javascript" class="twitter"><i class="fa fa-twitter-square"></i> Tweet</a>
        </div>
    </div>
</div>

{{> cta-learn }}

{{> cta-hire }}
